html {
  background-color: #e4e8f1;
}

body {
  font-family: Arial, sans-serif;
}

.notifications {
  margin-bottom: 40%;
  margin-left: -15%;
}

.main {
  display: flex;
}

.p-4 {
  color: white;
  text-align: center;
  padding-top: 4px;
}

.email-sama {
  margin-top: -10%;
}

.img-sama {
  border-radius: 12px;
}

.menu {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 144px;
}

.nav-coluna {
  width: 200px;
  margin-top: 65%;
}

.nav-coluna ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-coluna li {
  margin: 10px 0;
}

.nav-coluna a {
  text-decoration: none;
  color: #585858;
  display: block;
  transition: background-color 0.3s;
  font-size: 25px;
  font-weight: 600;
  margin-top: 32px;
}

.nav-coluna a:hover {
  color: black;
}

.main-page {
  background-color: white;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: -4%;
  border-radius: 30px;
}

.tit-mmain-page {
  font-size: 40px;
  font-weight: 600;
  margin-top: 60px;
  margin-left: 60px;
}
