html {
  background-color: #e4e8f1;
}

body {
  font-family: Arial, sans-serif;
}

.user-details {
  position: relative;
  width: 72px;
  height: 72px;
}
.user-details .img-notifications {
  position: absolute;
  top: -14px;
  right: -14px;
}

.user-details .img-user {
  border-radius: 12px;
}

.main {
  display: flex;
}

.main-right {
  max-width: 250px;
  width: 100%;
  background-color: #f9fafc;
  border-radius: 30px;
  padding: 76px 50px 60px 50px;
  display: flex;
  flex-direction: column;
  gap: 101px;
}

.email-sama {
  margin-top: -10%;
}

.money-slider h3 {
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.33px;
  color: #262a41;
}

.slider-text {
  display: flex;
  justify-content: space-between;
  color: #273240;
  font-weight: 500;
  font-size: 13px;
  letter-spacing: 0.33px;
}

.nav-coluna {
  width: 200px;
  margin-top: 65%;
}

.slider {
  position: relative;
}

.menu {
  margin-left: 5%;
  margin-top: 5%;
  max-width: 144px;
}

.nav-coluna {
  width: 200px;
  margin-top: 65%;
}

.nav-coluna ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-coluna li {
  margin: 10px 0;
}

.nav-coluna a {
  text-decoration: none;
  color: #585858;
  display: block;
  transition: background-color 0.3s;
  font-size: 25px;
  font-weight: 600;
  margin-top: 32px;
}

.nav-coluna a:hover {
  color: black;
}
