.font-36px {
  font-size: 36px;
}

.font-20px {
  font-size: 20px;
}

.font-16px {
  font-size: 16px;
}

.font-w400 {
  font-weight: 400;
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.hover-btn:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}

.hover-social:hover {
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
  border: 0.1px solid black;
  background-color: #e9f3ff;
}
